*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/**NAVBAR HEAD**/


.decitext{
    color: #FFFAFB;
}
.decitexthov:hover{
    background-color: #339989;
}
.decitexthov:active{
    background-color: #2F6359;
}
.decibutton{
    background-color: #339989;
    color: #FFFAFB;
}
.decibutton:hover{
    background-color: #2F6359;
}
.navbg{
    background-color: #2B2C28;
}

/**HERO SECT**/
.decihero{
    background-color: #2C3A35;
}
.decispan{
    color: #339989;
}

/*?classes above used?*/
/**ABOUT SECT**/
.deciabout{
    background-color: #339989;
}

/**FEAT & SERV SECT**/
.decifeat{
    background-color: #2C3A35;
}
.underlinecolor{
    text-decoration-line: underline;
    text-decoration-color: #339989;
}
.decicons{
    background-color: #339989;
    border-radius: 100%;
    padding: 4px;
}

/**FEAT**/
.bgimage1{
    background-image: url(./IMG/WDev.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bgimage2{
    background-image: url(./IMG/DGra.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bgimage3{
    background-image: url(./IMG/VMed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bgimage4{
    background-image: url(./IMG/SMMgmt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bgimage1:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-out;
}
.bgimage2:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-out;
}
.bgimage3:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-out;
}
.bgimage4:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-out;
}
.bdrop{
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
/**PRICE**/
.gridend{
    grid-row-end: -1;
}

/**FOOTER**/
.decifoot{
    background-color: #2B2C28;
    color: #FFFAFB;
}
.logofoot{
    width: 130px;
}


/*[class*="col-"]*/